@use "../../styles/config" as *;

.dropdown {
    position: relative;
}

.dropdownToggle {
    font-size: 0.875rem;
    padding: 9px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: border 0.2s, box-shadow 0.2s;
    
    &:hover {
        border-color: $secondary-color;
        background-color: #e7eaf0;
    }
}

.dropdownMenu {
    position: absolute;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

    @media (min-width: $break-point-small) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.isOpen {
    border-color: $secondary-color;  
}