@use "../styles/config" as *;

.checkboxes, .secondaryOptions {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

    @media (min-width: $break-point-small) {
        justify-content: start;
    }
}