@use "../styles/config" as *;

.productList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;

    @media (min-width: $break-point-small) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $break-point-large) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.errorMessage {
    font-size: 1.675rem;
    font-weight: bold;
    color: $warning-color;
}